<form id="loginform" action="{{url}}" method="post">
  <input id="passwordfield" type="text" name="password" value="password">
  <input id="loginsubmitbutton" type="submit" name="" value="Login">
</form>
