<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each posts}}
      <li>
      <a href="/post/{{id}}">{{title}}</a>
      </li>
    {{/each}}
    </ul>
  </body>
</html>
