<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Are you sure you want to delete your account?</title>
  </head>
  <body>
    <h1>Are you sure?</h1>
    <p>You will lose all of your profile information if you delete your account.</p>
    <form action="/delete{{url}}?password={{password}}" method="post">
      <input type="submit" name="" value="Delete my account">
    </form>
  </body>
</html>
