<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li><a href="/profile/{{url}}">{{name}}</a></li>
    {{/each}}
    </ul>
    <a href="/allposts">View All Posts</a>
  </body>
</html>
