<h1>{{name}}</h1>

<p>{{email}}</p>

<p><img src="{{picture_url}}"></p>

{{#if login}}
  {{> menu}}
{{else}}
  {{> login}}
{{/if}}
{{#if wrongPassword}}
  <p>You entered an incorrect password</p>
{{/if}}
